.Ad .ad {
  box-shadow: 0px 0px 5px gray;
  border: 2px solid #222;
  width: fit-content;
  padding: 5px;
}

.Ad .flavor {
  font-family: "Caveat", cursive;
}
.Ad .vote {
  font-family: "sans-serif";
}
